.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.image {
  justify-self: center;
  align-self: center;
}
.title {
  text-align: center;
  color: teal;
}
.description {
  color: #333;
  padding: 1rem;
}
